.section-9 {
    margin-top: 30px;
}
.why-us {
    color: rgb(156, 243, 91);
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 50px;
    letter-spacing: 2px;
}
.creators {
    font-family: DM Serif Display, Roboto;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 23px;
    font-size: 45px;
}
.najaf-ai {
    font-family: DM Serif Display, Roboto;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    font-size: 45px;
}