.section-1 {
    margin-top: 200px;
}
.first-line-text {
    font-family: DM Serif Display, Roboto;
    display: flex;
    justify-content: center;
    font-size: 65px
}
.second-line-text {
    font-family: DM Serif Display, Roboto;
    display: flex;
    justify-content: center;
    font-size: 65px;
}
.main-text {
    color: white;
    transition: color 0.9s;
}
.second-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.subtext {
    font-size: 17px;
}
.template-div {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.template-btn {
    background-color: rgb(156, 243, 91);
    border: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
}
.template-btn:hover {
    background-color: white;
}
.arrow-icon {
    width: 25px;
    margin-left: 5px;
    object-fit: cover;
}
.awards {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.tech-award {
    width: 75px;
    margin-right: 20px;
}
.award-name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tech-name {
    font-size: 15px;
}
