.section-8a, .section-8b {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.cards {
    border: 1px solid;
    border-color: rgba(156, 243, 91, 0.1);
    width: 305px;
    height: 220px;
    border-radius: 7px;
    position: relative;
    line-height: 18px;
    margin-right: 25px;
}
.section-8-text1 {
    font-family: DM Serif Display, Roboto;
    font-weight: 300;
    width: 305px;
    height: 100px;
    color: rgb(156, 243, 91);
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: end;
    margin-bottom: 5px;
}
.section-8-text2 {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}